<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="header">
    <h1 style="display:inline">My Spring Boot Application</h1>
    <div class="navbar">
        <a th:href="@{/home}" >Home</a>
        <a th:href="@{/employees}" >Employees</a>
        <a th:href="@{/contact}" >Contact</a>

    </div>
</div>

<div class="card">
    <h2>Card 1</h2>
    <a th:href="@{/employees}" class="button">Go to Employees</a>
</div>

<div class="card">
    <h2>Contact</h2>
    <a th:href="@{/contact}" class="button">Go to Contact</a>
</div>

<!-- Add more cards as needed -->
<div class="footer">
    <p>Footer - Your Company Name</p>
</div>
</body>
</html>
